<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="img/fav.png">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">

<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">

  <link rel="stylesheet" href="/css/linearicons.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/nice-select.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" type="image/png" href="/img/favicon.ico" />
</head>
<body>
  <div class="main-wrapper-first">
    <header>
      <div class="container">
        <div class="header-wrap">
          <div class="header-top d-flex justify-content-between align-items-center">
            <div class="logo">
              <a href="/"><img src="/img/logo.png" alt=""></a>
            </div>
            <div class="main-menubar d-flex align-items-center">
              <nav class="hide">
                <a href="/dashboard">Login Admin</a>
              </nav>
              <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>



  <div class="main-wrapper">
    <div class="banner-area">
      <div class="container">
        <div class="row height justify-content-center align-items-center">
          <!-- <img src="/img/header.png"> -->

          <div class="col-lg-4">
            <div class="banner-content">
              <h1>Everything <br>You can imagine <br>is Inmotion</h1>
              <p class="text-white">inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women.</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="banner-video">
              <div class="overlay overlay-bg"></div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-wrapper">
    <!-- <% rows.forEach(function(row){ %>
      <div class="col-3" >
       <div class="card">
           <div class="card-header align-center"><a href="/<%= row.id_a %>"><h1 align="center">Auteur :<%= row.id_a %></h1></a></div>
          <div class="card-body">

           <h3 class="card-text align-center" style="color: green;">Nom :<%= row.nom %></h3>
           <h3 class="card-text align-center" style="color: green;">Prénom :<%= row.prenom %></h3>
           <h3 class="card-text align-center" style="color: green;">Age :<%= row.age %></h3>
           <h3 class="card-text align-center" style="color: green;">Nationalité :<%= row.nationalite %></h3>


  <a href="edit-auteur/<%= row.id_a %>" class="btn btn-lg   btn-primary">Edit</a>
 <a href="delete-auteur/<%= row.id_a %>" class="btn btn-lg  btn-danger">Delete</a>
 <input  type="hidden" name="id_auteur" value="<%= row.id_a %>">

</div>
</div>
</div>


<% }); %>
</div>
</div> -->
    <!-- Start Feature Area -->
    <section class="featured-area">
      <div class="container">
        <div class="row">
          {{#each rows}}
          <div class="col-md-4">

            <div class="single-feature text-left">
              <a href="#"><h3 align="center">Matricule ID: {{id_mgsn}}</h3></a>
              <p><b>Nom :</b> {{nom}}<br>
                <b>Prénom :</b> {{prenom}}<br>
                <b>Age:</b> {{age}}<br>
                <i class="fa fa-globe" aria-hidden="true"></i> <b>Télé :</b> {{tele}}<br>
                <i class="fa fa-globe" aria-hidden="true"></i> <b>Fonction :</b> {{spct}}
              </p>


          </div>
        </div>
          {{/each}}
        </div>
      </div>
    </section>
    <!-- End Feature Area -->
    
    <!-- Start Begining Area -->
    <section class="section-gap beginning-area">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-lg-5">
            <div class="begining-content">
              <h2>La citation, pensée et phrase du jour</h2>
              <p>Retrouvez les plus belles citations et pensées chaque jour. La sélection de la citation du jour est un service qui vous propose tous les jours de l'année une nouvelle citation ou une pensée à partager avec vos amis. Le choix est très souvent lié à l'actualité (naissance et décès des auteurs, anniversaire, fêtes du calendrier ou journée nationale ou mondiale ou quelques fois le hasard au gré des soumissions de nouvelles citations ! ) sur des grands thèmes comme l'humour, la vie. La citation du jour essaie d'être toujours positive ! Retrouvez ici-même la citation d'aujourd'hui, et au quotidien une citation inspirante pour bien démarrer votre journée.</p>
              <a href="#">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Begining Area -->
    <!-- Start Contact Area -->
    <section class="subscription-area">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5">
            <div class="subscribe-content">
              <h3 class="text-white">Abonnez-vous à notre newsletter</h3>
              <p class="text-white mb-0">Nous n'enverrons aucun type de spam</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div id="mc_embed_signup">
              <form target="_blank"   class="subscription relative">
                <input type="email"  placeholder="Addresse email" required>
                <div style="position: absolute; left: -5000px;">
                </div>
                <button class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Commencer</span><span class="lnr lnr-arrow-right"></span></button>
                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Subscription Area -->
    <!-- Start footer Area -->
    <footer class="footer-area relative" style="background: url(/img/f-bg.jpg);">
          
      <div class="overlay" style="background: rgba(	0, 103, 174 );"></div>
      <div class="container">
        <div class="footer-content d-flex flex-column align-items-center">
          <div class="footer-menu">
            <a href="/dashboard">Login Admin</a>
          </div>
          <div class="footer-social">
            <a href="https://github.com/Idoufkir"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </div>
          <div class="copy-right-text">Copyright &copy; 2020 All rights reserved   |  <i class="fa fa-quote-left"></i>  YouCode Safi  <i class="fa fa-quote-right"></i>  |  </div>
        </div>
      </div>
  </footer>
  <!-- End footer Area -->

</div>  





<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<script src="/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/main.js"></script>

  </body>
  </html>